.scannerwork/
.idea/
/public/bundles/
/var/
/vendor/
/coverage/
psalm.log

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

*.pdf
*.cache